body{ background: #fff; }

.mainBody { width: 1100px; margin: 0 auto; padding: 5px; position: relative; }

a{ text - decoration: none; }

@media(max - width: 600px) { .mainBody { width: 100 %; padding: 0; } }

.toper { line - height: 30px; font - size: 20px; text - align: center; font - weight: bold; width: 100 %; color: #333; }

.toper span { color: #999; font - weight: normal; }

.itemTit { font - size: 15px; color: #000; line - height: 26px; font - weight: bold; text - align: left; margin - top: 10px; margin - bottom: 0 }

.btns { border: 1px solid #ddd; padding: 6px 10px; padding - right: 0; border - radius: 4px; min - height: 23px; }

a.btn { display: inline - block; color: #333; font - size: 14px; margin - right: 10px; }

a.btn.bold { font - weight: bold }

.btn:hover { color: #09f; border - bottom: 1px #09f solid; }

.mydesc { line - height: 30px; font - size: 16px; color: #000; text - align: center; margin - top: 60px; }

.remark { line - height: 36px; font - size: 20px; color: #000; text - align: center; margin - top: 10px; font - weight: bold; }

.remark1 { line - height: 30px; font - size: 16px; color: #000; text - align: center; margin - top: 10px; }