body {
	color: #5a5a5a;
	background-color: #fdf7ec
}
input,img{border:none;}

/* 轮播广告 */
.carousel {
	height: 360px;
}
.carousel .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 360px;
}
.item01 {
	background-image: url(../images/banner.jpg);
}
.item02 {
	background-image: url(../images/banner.jpg);
}
.item03 {
	background-image: url(../images/banner.jpg);
}
.item04 {
	background-image: url(../images/banner.jpg);
}
.item05 {
	background-image: url(../images/banner.jpg);
}
.carousel-caption {
	z-index: 10;
}
.carousel-caption p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}

/* 简介 */
.summary {
	padding-right: 15px;
	padding-left: 15px;
}
.summary .col-md-4 {
	margin-bottom: 20px;
	text-align: center;
}

/* 特性 */
.feature-divider {
	margin: 40px 0;
}
.feature {
	padding: 30px 0;
}
.feature-heading {
	font-size: 50px;
	color: #2a6496;
}
.feature-heading .text-muted {
	font-size: 28px;
}
.bbc {
	border-bottom: 1px #eee solid;
}
.sccolor {
	color: #f39800
}
.bg-white {
	background-color: #fff;
}
.footer {
	background-color: #3a3a3a;
	padding: 30px;
	margin-top: 20px;
}
.footer p {
	color: #9d9d9d;
	line-height: 30px;
}
.footer p a {
	color: #9d9d9d
}
.btn-bfg {
	background-color: #9d9d9d;
	color: #333 !important
}
.menuleft {
	background: #fff;
	border-right: 5px #fdf7ec solid;
}
.menuleft > div {
	height: 70px;
	line-height: 70px;
}
.border_radius_tab {
	color: #717171;
	border: 2px #717171 solid;
}
.border_radius_tab.active {
	background: #3d8cde !important;
	color: #fff !important;
	border: none !important;
}
.padding0 {
	padding: 0 !important;
}
.con-tit {
	width: 100%;
	height: 45px;
	border-radius: 5px;
	position: relative;
	margin-top: 20px
}
.con-tit02 {
	background-color: #f39800;
}
.con-tit01 {
	background-color: #3e8cde;
}
.padding20 {
	padding: 1px 20px
}
.margin-top30 {
	margin-top: 30px;
}
.margin-top20 {
	margin-top: 20px;
}
.ft01 {
	background-image: url(img/re01.png);
	width: 250px;
	height: 92px;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 50%;
	margin-top: -46px;
}
.ft03 {
	background-image: url(img/re02.png);
	width: 170px;
	height: 154px;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -85px;
	top: 50%;
	margin-top: -77px;
}
.help1 {
	background: url(img/help1.png);
	height: 38px;
	width: 38px;
	margin-top: 3px
}
.help2 {
	background: url(img/help2.png);
	height: 38px;
	width: 38px;
	margin-top: 3px
}
.con-tit b {
	display: block;
	color: #fff;
	height: 24px;
	line-height: 24px !important;
	font-size: 20px;
	width: 110px;
	text-align: center;
	margin-top: 5px
}
.con-tit span {
	display: block;
	color: #fff;
	height: 8px;
	width: 110px;
	text-align: center;
	line-height: 8px !important;
	font-size: 6px;
}
.title {
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 50px;
}
.userPic {
	width: 87px;
	height: 100px;
	position: relative;
}
.userPic img {
	width: 87px;
	height: 100px;
	display: block;
}
.huoyue {
	position: relative;
	width: 54px;
	height: 18px;
	background: url(img/huoyue.png) no-repeat;
	left: 19px;
	bottom: 8px;
}
.icon1 {
	background: url(img/icon1.png) no-repeat left center;
	padding-left: 24px;
}
.icon2 {
	background: url(img/icon2.png) no-repeat left center;
	padding-left: 24px;
}
.icon3 {
	background: url(img/icon3.png) no-repeat left center;
	padding-left: 24px;
}
.user {
	background: url(img/user.png) no-repeat left center;
	padding-left: 35px;
	border: none;
}
.panel {
	background: url(img/panel.png) no-repeat left center;
	padding-left: 35px;
	border: none;
}
.item_lists p {
	line-height: 26px;
}
.brc {
	border-right: 1px dashed #f39800;
	width: 120px;
	margin-right: 20px;
}
.plr20 {
	padding-left: 20px;
	padding-right: 20px;
}
.usermsg_padding {
	padding: 10px 35px;
}
.h30 {
	height: 30px;
	line-height: 30px
}
.h40 {
	height: 40px;
	line-height: 40px;
}
.mt25 {
	margin-top: 24px;
}
.order {
	background-image: url(img/order.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 38px;
	text-align: left;
}
.tab01 {
	background-image: url(img/help01.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 38px;
	text-align: left;
}
.tab02 {
	background-image: url(img/help02.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 38px;
	text-align: left;
}
.active .tab01 {
	background-image: url(img/help1.png);
}
.active .tab02 {
	background-image: url(img/help2.png);
}
.help3 {
	background: url(img/help3.png) no-repeat left center;
	padding-left: 35px;
	width: 120px;
	text-align: left;
}
.fontbold {
	font-weight: bold;
}
.w100 {
	width: 100px;
}
.btn-yellow {
	background: #f39800;
	color: #fff;
}
.ml30 {
	margin-left: 50px
}
.h220 {
	height: 220px;
}
.mt15 {
	margin-top: 15px;
}
.help3_msg {
	position: relative;
}
.denote {
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	bottom: 15px;
}
.toper {
	background: #072e59;
	height: 26px;
	width: 100%;
}
.toper_con {
	width: 330px;
}
.top_color {
	color: #969698;
}
.top_con .line {
	margin: 0 20px;
	display: block;
}
.w150 {
	width: 150px;
	line-height: 26px;
	font-size: 14px
}
.w30 {
	width: 30px;
	line-height: 26px;
	font-size: 14px
}
.quit {
	margin-left: 10px;
}
.quit:hover {
	text-decoration: underline;
}
.h70 {
	height: 70px;
	display: block !important;
	line-height: 40px !important;
}
.navbar-brand {
	margin-left: 10px;
	margin-right: 60px
}
.myPic {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 20px;
	border: 3px #fff soild;
	margin-right: 10px;
}
.rankxing {
	width: 160px;
	height: 24px;
	border-radius: 13px;
	border: #f39800 2px solid;
	background-color: #ffeed1;
}
.fa-star {
	color: #f39800
}
.donate_msg {
	padding: 0 15px;
}
.plr10{
	padding-left:15px;
	padding-right:15px;
}
.summary{
	padding-top:1px; 
}
.searchBox{
	height: 30px; padding-top: 3px; background-color: #f39800;
}
.search_con{
	height: 24px;
	width: 295px;
	border:1px #b4b4b4 solid;
}
.search_con input{
	height: 24px;
	width: 260px;
}
.search{
	width: 33px; height: 24px;
	background: url(img/se.png);
	display: inline-block;
	cursor: pointer;
}
.bg-bccolor {
  background: #1c4876;
  color: #fff;
}
.login_box {
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 40px;
  margin-top: 25px;
}
.formbox-title {
  background: #f39800;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main_content {
  height: 500px;
  background-image: url(../images/login_bg.jpg);
  background-size: 100% 100%;
  margin-top: 25px
}
.form-vertical{margin-top: 25px;}
.form-group{padding-left: 10px; padding-right: 10px;}
.submitBtn{ height: 40px;}
.btn_color{ background: #3a84cf; color: #fff}
.text-bbcolor{color: #3a84cf}
input[type="checkbox"]{vertical-align: top}
.mt10{margin-top:10px;}

/* 响应式布局 */
@media (max-width:768px) {
	.summary {
		padding-right: 3px;
		padding-left: 3px;
	}
	.carousel {
		height: 140px;
		margin-bottom: 15px;
	}
	.carousel .item {
		height: 140px;
	}
	.carousel img {
	}
	.feature-heading {
		font-size: 34px;
	}
	.feature-heading .text-muted {
		font-size: 22px;
	}
	.navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		border-bottom: none !important;
		border-right: 5px #f39801 solid;
	}
	.border_radius_tab {
		border-radius: 10px 10px 0 0
	}
	.usermsg_padding {
		padding: 10px 10px;
	}
	.menuleft > div {
		height: 45px;
		line-height: 45px;
		padding: 0 5px;
	}
	.tabwh {
		height: 26px;
		line-height: 26px;
		background-size: contain;
		margin-top: 10px;
		padding-left: 28px
	}
	.donate_msg {
		padding: 15px 0;
		height: 240px;
	}
	.denote{
		bottom: 35px;
	}
	.main_content {
	  background-image: none;
	}
}

@media (min-width:992px) {
	.feature-heading {
		margin-top: 120px;
	}
	.border_radius_tab {
		border-radius: 10px 0 0 10px
	}
}
@media(max-width:992px)and(min-width:768px) {
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 10px !important;
	}
	.border_radius_tab {
		border-radius: 10px 0 0 10px
	}
}
@media (max-width:992px) {
	.menuleft {
		background: #fff;
		border-bottom: 5px #fdf7ec solid;
		border-right: none;
	}
}